    .jasmine_html-reporter .summary ul.suite {
        margin-bottom: 24px;
    }
    .suite .suite-detail {
        font-size: 1.5em;
        font-weight: bold;
        border-bottom: 1px solid #aaa;
    }
     .jasmine_html-reporter .summary ul.suite ul.suite  {
        margin-bottom: 7px;
    }
    .suite .suite .suite-detail {
        font-size: 1.25em;
        font-weight: 400;
        border-bottom: none;
    }
     .jasmine_html-reporter .summary ul.suite ul.suite ul.suite  {
        margin-bottom: 7px;
    }
    .suite .suite .suite .suite-detail {
        font-size: 1.00em;
        font-weight: 400;
        border-bottom: none;
    }
